<!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="../static/css/materialize.min.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body>
      <marquee behaviour="slide" direction="up" height="100px" bgcolor="777" width="100px">This is Language Description</marquee>
      <table border="10px" width="1000px" bordercolor="brown">
        <tr bgcolor="yellow">
          <th>No</th>
          <th>Name</th>
          <th>Description</th>     
        </tr>
        <tr bgcolor="pink">
          <td>1.</td>
          <td>Zawgyi</td>
          <td>  Zawgyi One is not an input method but just a font.
                              Modern Burmese keyboards allow natural typing order for both Unicode and Zawgyi outputs.
                              Some people still think that Unicode is harder to type.
                              The numeric codes used in Zawgyi are not the same as in the Unicode Standard.
                            
          </td>
            </tr>
            <tr bgcolor="pink">
            <td>2.</td>
            <td>Unicode</td>
            <td>Unicode is a computing industry standard for the consistent encoding, representation, and   
                                handling of text expressed in most of the world's writing systems.
                                The standard is maintained by the Unicode Consortium, and as of june 2018 the most recent version, Unicode 11.0, contains a repertoire of 137,439 characters covering 146 modern and historic scripts, as well as multiple symbol sets and emoji.
                              
            </td>
          </tr>
          <tr bgcolor="pink">
            <td>3.</td>
            <td>Win</td>
            <td>Win Myanmar Systems, better known as Win Myanmar Fonts, translates MS windows menu to Burmese.
                The Win Myanmar font system for Microsoft Windows is common in Myanmar for digitally processing Burmese script. </td>
          </tr>
      </table>
      
<div class="fixed-action-btn direction-top" style="bottom:45px;right:24px;">
	<a href="{{url_for('index')}}" class="btn-floating btn-large waves-effect waves-light green"><br><br>prev</a>
</div>


 
      <!--JavaScript at end of body for optimized loading-->
      <script type="text/javascript" src="../static/js/materialize.min.js"></script>
    </body>
  </html>
